/* NAVIGATION BAR */
body{
  background-image: url('./anson/Background.png');
    background-attachment: fixed;
}
/*Change aspects of navigation bar*/
.topnav {
    background-image: linear-gradient(160.32deg, #469EEF, #B6B7EF, #B6B7EF,#469EEF);
    overflow: hidden;
    margin-bottom: 40px;
}

/*Change aspects of text*/
.topnav a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 13px;
    font-family: "Inter", Sans-serif;
}

/*Change aspects when mouse hovering*/
.topnav a:hover {
    background-color: #B6B7EF;
    color: black;
}

/*Change aspects of active page*/
.topnav a.active {
    background-color: #469EEF;
    color: white;
    font-weight: 800;
}
.container {
	display: flex;
	align-items: center;
	justify-content: center;
    height: 400px;
    background-color: #FFD8F9;
    box-shadow: 10px 6px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

/* MENU */
#menu {
    min-width: 400px;
    max-width: 450px;
}

#menuHeader { 
    font-size: 18px;
    margin-top: 130px;
    font-weight: 700;
}

/* COLOUR SELECTOR */
#color {
    color: #ffffff;
    background-color: inherit; 
    border: none;
    box-shadow: none;
    width: 20px;
    height: 17px;
}

/* DROPDOWN */

/* Dropdown Button */
.dropbtn {
    color: white;
    padding: 10px;
    font-size: 13px;
    border: none;
    width: 225px;
    background-image: linear-gradient(160.32deg, #469EEF, #B6B7EF, #B6B7EF,#469EEF);
    border-radius:20px;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
    width: 225px;
    height: 150px;
    overflow-y: auto;
    overflow-x: hidden;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 250px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-image: linear-gradient(160.32deg, #469EEF, #B6B7EF, #B6B7EF,#469EEF);}

/* UPLOAD SYLLABUS */
#PromptText{   
    text-align: center; 
    margin-top: 70px;
    font-size: 25px
}
.drop-zone {
    min-width: 500px;
	max-width: 800px;
	height: 200px;
	padding: 25px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	font-family: "Inter", sans-serif;
	font-weight: 500;
	font-size: 14px; 
	cursor: pointer;
    background-color: #FFFFFF;
	color: #CBCBCB;
    opacity: 0.7;
	border: 3px dashed #FFFFFF; /* colour of the box border */
	border-radius: 10px;
    border-style: dotted;
}

.drop-zone--over {
	border-style: solid;
}

.drop-zone__input {
	display: none;
}

/*when you choose a regular file */
.drop-zone__thumb {
	width: 100%;
	height: 100%;
	border-radius: 10px;
	overflow: hidden;
	background-color: #cccccc;
	background-size: cover; /* to set image that was dropped */
	position: relative;
}

.drop-zone__thumb::after {
	content: attr(data-label);
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 5px 0;
	color: #ffffff;
	background: rgba(0, 0, 0, 0.75);
	font-size: 14px;
	text-align: center;
}

#buttondiv{
    padding-bottom: 60px;
}

/* NEXT BUTTON */
#next .btn{
    /* blue-purple */
    
    

    opacity: 0.7;
    border-radius: 70px;
    height: 60px;
    width: 40%;
    
    display:flex;
    justify-content: center;
    align-items: center;  
    font-style: normal;
    font-size: 20px;
    text-align: center;
    color: #FFFFFF;
  
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    
    background-size: 300% 100%;
    background-image: linear-gradient(160.32deg, #469EEF, #B6B7EF, #B6B7EF,#469EEF);
  }
  
  #next .btn:hover {
    color: white;
    background-position: 100% 0;
  
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    box-shadow: 0 4px 15px 0 rgb(126, 171, 239);
  }
  #next .btn:focus {
    color: white;
    
  }
  #next{
    display:flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
    padding-top: 20px;
  }

